{{ with .Site.GetPage "section" "contact" }}
  <div class="section section-contact-us text-center" id="contact">
    <div class="container">
      <h2 class="title">{{ .Description }}</h2>
      <p class="description">{{ .Content }}</p>
      <div class="row">
        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
          <form id="contactform" onsubmit="submitContactForm(this, event);return false">
            <div class="input-group input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </span>
              </div>
              <input type="text" class="form-control" name="name" placeholder="Name..." required>
            </div>
            <div class="input-group input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons ui-1_email-85"></i>
                </span>
              </div>
              <input type="text" class="form-control" name="email" placeholder="Email..." required>
            </div>
            <div class="input-group input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons tech_mobile"></i>
                </span>
              </div>
              <input type="text" class="form-control" name="phone" placeholder="Phone... (optional)">
            </div>
            <div class="textarea-container">
              <textarea class="form-control" name="note" rows="4" cols="80" placeholder="Type a message..." required></textarea>
            </div>
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <div class="send-button">
              <input type="submit" class="btn btn-primary btn-round btn-block btn-lg" value="Send Message">
            </div>
          </form>
          <div class="g-recaptcha" data-badge="inline">
        </div>
      </div>
    </div>
  </div>
{{ end }}