@import 'now-ui-kit';

/* 
 * Style sheet overrides and changes for OSC
 */

.btn-group-round > .btn:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.btn-group-round > .btn:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.map:not(:empty) {
    min-height: 256px;
}

.datepicker.datepicker-inline {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}

.brand .h1-seo {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 300;
}

/* Square donation form */

/* Define how SqPaymentForm iframes should look */
.sq-input {
    border: 1px solid #e3e3e3;
    border-radius: 30px;
    //transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    display: block;
    width: 100%;
    background-clip: padding-box;
    overflow: visible;
    margin: 0;
  }
  
  /* Define how SqPaymentForm iframes should look when they have focus */
  .sq-input--focus {
    outline: 5px auto rgb(59, 153, 252);
  }
  
  /* Define how SqPaymentForm iframes should look when they contain invalid values */
  .sq-input--error {
    outline: 5px auto rgb(255, 97, 97);
  }
  
  /* Customize the "{{Wallet}} not enabled" message */
  .wallet-not-enabled {
    min-width: 200px;
    min-height: 40px;
    max-height: 64px;
    padding: 0;
    margin: 10px;
    line-height: 40px;
    background: #eee;
    border-radius: 5px;
    font-weight: lighter;
    font-style: italic;
    font-family: inherit;
    display: block;
  }
  
  /* Customize the Apple Pay on the Web button */
  .btn-apple-pay {
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: #000;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 1em;
    padding: 1rem;
  }
  
  /* Customize the Masterpass button */
  .btn-masterpass {
    background-image: url(https://static.masterpass.com/dyn/img/btn/global/mp_chk_btn_147x034px.svg);
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 1em;
    padding: 1rem;
  }
  
  #sq-walletbox {
    float:left;
    margin:5px;
    padding:10px;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
  }

  /* Donation buttongroup */
  .btn-group.btn-group-donation {
    z-index: 1200;

    & > .btn.active {
      color: $primary-color;
      background-color: white;
      border: 1px solid $primary-color;
    }
  }


  .form-group.donation-amount-form-group {
    margin-top: -3em;

    &>.input-group .form-control {
      padding-top: 2.5em;
      padding-bottom: 1em;
    }

    &>.input-group .input-group-prepend>span,
    &>.input-group .input-group-append>span {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding-top: 1.5em;
      padding-bottom: 0.5em;
    }
  }