{{ with .GetPage "donate" }}
  <div class="modal fade" id="donation-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ .Title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </button>
        </div>
        <div class="donation-processing">
          <div class="processing">
            <i class="now-ui-icons loader_refresh spin"></i>
            <h3>Processing your donation...</h3>
          </div>
          <div class="success">
            <i class="now-ui-icons ui-1_check"></i>
            <h3>Thank you for your donation</h3>
          </div>
          <div class="failure">
            <i class="now-ui-icons ui-1_simple-remove"></i>
            <h3>Error processing donation:</h3>
            <p class="message"></p>
            <button class="btn btn-danger" id="dismiss-donation-failure">OK</button>
            <p></p>
          </div>
        </div>
        <div class="modal-body donation-form">
          <p>Your tax deductible contribution enables us to remain a healthy and vibrant organization. Thank you for your support!</p>
            <div class="card card-plain border-bottom">
              <div class="card-body">
                <h5 class="card-title">Amount</h5>
                <div class="row">
                  <div class="btn-group btn-group-donation btn-group-round btn-group-toggle d-flex col" data-toggle="buttons">
                    <label class="btn btn-primary w-100 active">
                      <input type="radio" name="amount-btn" value=50>$50
                    </label>
                    <label class="btn btn-primary w-100">
                      <input type="radio" name="amount-btn" value=100>$100
                    </label>
                    <label class="btn btn-primary w-100">
                      <input type="radio" name="amount-btn" value=200>$200
                    </label>
                    <label class="btn btn-primary w-100">
                      <input type="radio" name="amount-btn" value="other">Other
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group donation-amount-form-group" disabled>
                    <label></label>
                    <div id="donation-amount" class="input-group" disabled>
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input class="form-control" id="donation-amount-field" type="text" name="amount" value=50 disabled>
                      <div class="input-group-append">
                        <span class="input-group-text">USD</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="card card-plain border-bottom">
            <div class="card-body">
              <h5 class="card-title">Contact information</h5>
              <div class="form-row">
                <div class="col form-group">
                  <label for="donation-name">Name</label>
                  <input type="text" class="form-control" name="name" id="donation-name" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col form-group">
                  <label for="donation-street">Address</label>
                  <input type="text" class="form-control" name="address" id="donation-address">
                </div>
              </div>
              <div class="form-row">
                <div class="col-6 form-group">
                  <label for="donation-city">City</label>
                  <input type="text" class="form-control" name="city" id="donation-city">
                </div>
                <div class="col-2 form-group">
                  <label for="donation-state">ST</label>
                  <input type="text" class="form-control" name="state" id="donation-state">
                </div>
                <div class="col-4 form-group">
                  <label for="sq-postal-code">ZIP</label>
                  <div id="sq-postal-code"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="col form-group">
                  <label for="donation-email">Email address</label>
                  <input type="email" class="form-control" name="email" id="donation-email" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col form-group">
                  <label for="donation-phone">Phone number</label>
                  <input type="phone" class="form-control" name="phone" id="donation-phone">
                </div>
              </div>
              <div class="form-row">
                <div class="col form-group">
                  <label for="donation-note">Note</label>
                  <div class="textarea-container">
                    <textarea class="form-control" name="note" id="donation-note" rows="2" cols="80"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-plain">
            <div class="card-header text-center">
              <h5 class="card-title text-left">Payment type</h5>
              <ul class="nav nav-tabs justify-content-center" id="payment-type-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="donate-cc-tab" data-toggle="tab" href="#donate-cc">Credit card</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="donate-cc" role="tabpanel" aria-labelledby="donate-cc-tab">
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="sq-card-number">Card number:</label>
                      <div id="sq-card-number"></div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-6">
                      <label for="sq-cvv">CVV:</label>
                      <div id="sq-cvv"></div>
                    </div>
                    <div class="form-group col-6">
                      <label for="sq-expiration-date">Exp Date:</label>
                      <div id="sq-expiration-date"></div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <button id="sq-creditcard" class="btn btn-block btn-primary" onclick="requestCardNonce(event)">
                        Pay with card
                      </button>
                    </div>
                  </div>
                      <!--
                        After a nonce is generated it will be assigned to this hidden input field.
                      -->
                  <input type="hidden" id="card-nonce" name="nonce">
                </div>
                <div class="tab-pane" id="donate-ap" role="tabpanel" aria-labelledby="donate-ap-tab">
                  <!-- Placeholder for Apple Pay for Web button -->
                  <button id="sq-apple-pay" class="btn btn-block btn-apple-pay"></button>
                </div>
                <div class="tab-pane" id="donate-gp" role="tabpanel" aria-labelledby="donate-gp-tab">
                  <button id="sq-google-pay" class="btn btn-block btn-google-pay"></button>
                </div>
                <div class="tab-pane" id="donate-mp" role="tabpanel" aria-labelledby="donate-mp-tab">
                  <button id="sq-masterpass" class="btn btn-block btn-masterpass"></button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
