<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" id="main-nav" color-on-scroll="400">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar top-bar"></span>
        <span class="navbar-toggler-bar middle-bar"></span>
        <span class="navbar-toggler-bar bottom-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav">
        {{ range .Site.Sections }}
        <li class="nav-item">
          <!-- a class="nav-link" href="#{{ .Title | urlize }}" -->
          <a class="nav-link" href="javascript:void(0);" data-target="#{{ .Title | urlize }}" onclick="smoothScroll(this, event)">
            <p>{{ .Title }}</p>
          </a>
        </li>
        {{ end }}
        <li class="nav-item">
          <button id="donate-button" class="nav-link btn btn-neutral" data-toggle="modal" data-target="#donation-form">DONATE</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Rehearsal and event calendar" data-placement="bottom" href="https://calendar.google.com/calendar/embed?src=calendar%40omahasymphonicchorus.org&ctz=America%2FChicago"
            target="_blank">
            <i class="far fa-calendar"></i>
            <p class="d-lg-none d-xl-none">Amazon Smile</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/OmahaSymphonicChorus"
            target="_blank">
            <i class="fab fa-facebook"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Support us through a purchase from Amazon Smile" data-placement="bottom"
            href="https://smile.amazon.com" target="_blank">
            <i class="fab fa-amazon"></i>
            <p class="d-lg-none d-xl-none">Amazon Smile</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->