{{ with .Site.GetPage "section" "partners" }}
  <div class="section section-partners bg-light" id="{{ .Title | urlize }}">
    <div class="container text-center">
      <h2 class="title">{{ .Description }}</h2>
      {{ .Content }}
      <div class="card-columns">
        {{ range .Pages }}
          <div class="card">
            <a href="{{ .Params.link }}" target="_blank"><img class="card-img-top" src="{{ $logo := .Resources.GetMatch "logo" }}{{ with $logo }}{{ .RelPermalink }}{{ end }}" alt="{{ .Title }}"></a>
            <div class="card-body">
              <a href="{{ .Params.link }}" target="_blank"><h5 class="card-title">{{ .Title }}</h5></a>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}