{{ with .Site.GetPage "section" "season" }}
<div class="section section-season bg-white" id="{{ .Title | urlize }}">
    <div class="container">
        <h2 class="title text-center">{{ .Description }}</h2>
        <p>Unfortunately, as it has affected so many lives and plans, the COVID-19 pandemic has provided us tremendous challenges. However, no pandemic will keep us from singing! While we plan our return to the stage
            once we can ensure the safety of both our singers and audience, please enjoy this "virtual choir" style
            recording of <em>Sing Me to Heaven</em>, composed by Daniel Gawthrop and performed safely at home by members
            of the Omaha Symphonic Chorus.</p>
        <div class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XxxZskBjcjM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div class="card">
        </div>
    </div>
</div>
{{ end }}
