{{ with .Site.GetPage "section" "tickets" }}
{{ $scratch := newScratch }}
<div class="section section-tickets bg-light" id="{{ .Title | urlize }}">
  <div class="container">
    <h2 class="title text-center">{{ .Title }}</h2>
    <div class="row">
      <div class="col">
        {{ .Content }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          {{ with .Site.GetPage "section" "season" }}
          {{ with .GetPage "concerts" }}
          {{ range $index, $value := .Pages }}
          {{ $scratch.Set "future" false }}
          {{ range .Params.datetimes }}
          {{ if (time .).After now }}
          {{ $scratch.Set "future" true }}
          {{ end }}
          {{ end }}
          <tr class="{{ if ( not ( $scratch.Get "future" ) ) }}text-muted{{end}}">
            <td class="align-middle">
              {{ if ( not ( $scratch.Get "future" ) ) }}<em>{{ end }}
                {{ .Title }}
                {{ if ( not ( $scratch.Get "future" ) ) }}</em>{{ end }}
            </td>
            <td class="align-middle">
              {{ if ( not ( $scratch.Get "future" ) ) }}<em>{{ end }}
                {{ range .Params.datetimes }}
                {{ if (eq (time .).Hour 0) }}
                {{ dateFormat "Monday, Jan _2, 2006" . }}, time TBD<br>
                {{ else }}
                {{ dateFormat "Monday, Jan _2, 2006, 3:04PM" . }}<br>
                {{ end }}
                {{ end }}
                {{ if ( not ( $scratch.Get "future" ) ) }}</em>{{ end }}
            </td>
            <td class="align-middle">
              {{ if ( not ( $scratch.Get "future" ) ) }}<em>{{ end }}
                {{ if ( not ($scratch.Get "future" ) ) }}
                Past performance
                {{ else if .Params.free }}
                Free concert
                {{ else }}
                {{ if .Params.tickets }}
                <a class="btn btn-primary" target="_blank" href="{{ .Params.tickets }}">Purchase tickets</a>
                {{ else }}
                Check back soon
                {{ end }}
                {{ end }}
                {{ if ( not ( $scratch.Get "future" ) ) }}</em>{{ end }}
            </td>
          </tr>
          {{ end }}
          {{ end }}
          {{ end }}
        </table>
      </div>
    </div>

  </div>
</div>
{{ end }}