<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      {{ .Site.Title }}
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    {{ partial "styles.html" . }}
  </head>

  <body class="index-page sidebar-collapse" data-spy="scroll" data-target="#main-nav" data-offset="64">
    {{ partial "navbar.html" . }}
    <div class="wrapper">
      <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" data-parallax="true" style="background-image:url('{{ $splash := .Resources.GetMatch "above-fold-backsplash" }}{{ with $splash }}{{ .RelPermalink }}{{ end }}');">
        </div>
        {{ if (and .Params.announcement (now.Before .Params.announcementExpires)) }}
        <div class="alert alert-danger alert-dismissable concert-alert" role="alert">
          <div class="container-fluid">
            <div class="alert-icon">
              <i class="now-ui-icons ui-1_bell-53"></i>
            </div>

            <strong>Announcement</strong> {{ .Params.announcement }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </span>
            </button>
          </div>
        </div>
        {{ end }}
        {{ with .Site.GetPage "season/concerts" }}
        {{ range $index, $value := .Pages }}
        {{ if .Params.datetimes }}
        {{ $time := (time (index .Params.datetimes 0)) }}
        {{ if (and (now.After ($time.AddDate 0 -1 0)) (now.Before ($time.AddDate 0 0 1))) }}
        {{ if (and (.Resources.GetMatch "poster") (now.After ($time.AddDate 0 0 ( default -7 (int (sub 0 (cond (isset .Params "posterdays") .Params.posterDays 14 ))))))) }}
        <div class="interstitial">
          <div class="closer">
            <a href="#" onclick="$('.interstitial').fadeOut();">Continue to site</a>
          </div>
          <img src="{{ $poster := .Resources.GetMatch "poster" }}{{ with $poster }}{{ .RelPermalink }}{{ end }}">
        </div>
        {{ end }}
        {{ $tabID := .UniqueID }}
        <div class="alert alert-info alert-dismissable concert-alert" role="alert">
          <div class="container-fluid">
            <div class="alert-icon">
              <i class="now-ui-icons ui-1_calendar-60"></i>
            </div>

            <strong>Upcoming concert</strong> {{ .Title }}, {{ $time.Format "January 2 at 3:04PM"}} {{if (isset .Params.datetimes 1)}}{{if (eq (time (index .Params.datetimes 1)).YearDay $time.YearDay)}}and {{ (time (index .Params.datetimes 1)).Format "3:04PM" }}{{end}}{{end}}. <a href="#{{ $tabID }}"
              class="alert-link">More info</a>{{ if .Params.tickets }} | <a href="{{ .Params.tickets }}" class="alert-link">TICKETS</a>{{ end }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </span>
            </button>
          </div>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        <div class="container">
          <div class="content-center brand">
            <h1 class="h1-seo">{{ .Site.Title }}</h1>
            <h3>{{ .Params.tagline }}</h3>
          </div>
          <h6 class="category-absolute">
            <span class="text-white">{{ .Params.director }}</span>, {{ .Params.directorTitle }}
          </h6>
        </div>
      </div>
      <div class="main landing-page">
        {{ partial "about.html" . }}
        {{ partial "tickets.html" . }}
        {{ partial "season.html" . }}
        {{ partial "support.html" . }}
        {{ partial "partners.html" . }}
        {{ partial "contact.html" . }}
      </div>
      <footer class="footer" data-background-color="black">
        <div class="container">
          <div class="copyright" id="copyright">
            &copy;
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script> Omaha Symphonic Chorus, a 501(c)(3) non-profit. Based on <a href="https://www.creative-tim.com/product/now-ui-kit">Now
              UI Kit</a>.
          </div>
        </div>
      </footer>
    </div>
    {{ partial "donate.html" . }}
    <!--   Core JS Files   -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js" integrity="sha256-sAkXLwDFSAB/S09JCOWRvnoOnhGYDu9VqMnbCKAhMzI="
      crossorigin="anonymous"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.js" integrity="sha256-IB524Svhneql+nv1wQV7OKsccHNhx8OvsGmbF6WCaM0="
      crossorigin="anonymous"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js" integrity="sha256-TueWqYu0G+lYIimeIcMI8x1m14QH/DQVt4s9m/uuhPw=" crossorigin="anonymous"></script>-->
    <!--  Google Maps and reCaptcha Plugins    -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.mapsKey }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ .Site.Params.recaptchaKey }}"></script>
    <!--  Square payment form plugin -->
    <script src="https://js.squareup.com/v2/paymentform" type="text/javascript"></script>
    {{ partial "scripts.html" . }}
  </body>

</html>